<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Email Notification Bean -->

    <bean id="notificationBean" class="org.example.EmailNotificationService"/>

    <!-- UserService Bean -->

    <bean id="userService" class="org.example.UserService">
        <constructor-arg ref="notificationBean"/>
    </bean>

</beans>